<!-- <input type="text" name="columns" [(ngModel)]="intitule" />
<button type="button" (click)="addColumn()">Add column</button> -->
<nav class="navbar navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand">/TD Angular Jordan AIMÉ</a>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        id="input1"
        type="text"
        placeholder="Column name"
        aria-label="Column name"
        style="width: auto"
        [(ngModel)]="intitule"
        disabled
      />
      <button
        type="button"
        (click)="addColumn()"
        class="btn btn-secondary"
        disabled
      >
        Add Column
      </button>
    </form>
  </div>
</nav>
<h1>Kanban</h1>
<div cdkDropListGroup class="main mt-2" id="div1">
  <div class="container backlog backlog-hue backlog-glow rounded">
    <h2 contenteditable="true">Backlog</h2>
    <div class="input-group mb-3">
      <input
        type="text"
        name="backlog-task"
        [(ngModel)]="task"
        placeholder="Task name"
        class="form-control"
      />
      <button type="button" (click)="addBackLogTask()" class="btn btn-success">
        +
      </button>
    </div>
    <div
      cdkDropList
      [cdkDropListData]="backlog"
      class="list backlog"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="box" cdkDrag *ngFor="let item of backlog; index as i">
        <p contenteditable="true">{{ item }}</p>
        <button
          type="button"
          (click)="removeBackLogTask(i)"
          class="btn btn-danger btn-sm"
          style="--bs-btn-padding-y: 0.25rem; --bs-btn-padding-x: 0.7rem"
        >
          x
        </button>
      </div>
    </div>
  </div>

  <div class="container todo todo-hue todo-glow rounded">
    <h2 contenteditable="true">To do</h2>
    <div class="input-group mb-3">
      <input
        type="text"
        name="todo-task"
        [(ngModel)]="toDoTask"
        placeholder="Task name"
        class="form-control"
      />
      <button type="button" (click)="addToDoTask()" class="btn btn-success">
        +
      </button>
    </div>
    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="list todo"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="box" *ngFor="let item of todo; index as i" cdkDrag>
        <p contenteditable="true">{{ item }}</p>
        <button
          type="button"
          (click)="removeToDoTask(i)"
          class="btn btn-danger btn-sm"
          style="--bs-btn-padding-y: 0.25rem; --bs-btn-padding-x: 0.7rem"
        >
          x
        </button>
      </div>
    </div>
  </div>

  <div class="container inprogress inprogress-hue inprogress-glow rounded">
    <h2 contenteditable="true">In Progress</h2>
    <div class="input-group mb-3">
      <input
        type="text"
        name="inprogress-task"
        [(ngModel)]="inProgressTask"
        placeholder="Task name"
        class="form-control"
      />
      <button
        type="button"
        (click)="addInProgressTask()"
        class="btn btn-success"
      >
        +
      </button>
    </div>
    <div
      cdkDropList
      [cdkDropListData]="inprogress"
      class="list inprogress"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="box" *ngFor="let item of inprogress; index as i" cdkDrag>
        <p contenteditable="true">{{ item }}</p>
        <button
          type="button"
          (click)="removeInProgressTask(i)"
          class="btn btn-danger btn-sm"
          style="--bs-btn-padding-y: 0.25rem; --bs-btn-padding-x: 0.7rem"
        >
          x
        </button>
      </div>
    </div>
  </div>

  <div class="container done done-hue done-glow rounded">
    <h2 contenteditable="true">Done</h2>
    <div class="input-group mb-3">
      <input
        type="text"
        name="done-task"
        [(ngModel)]="doneTask"
        placeholder="Task name"
        class="form-control"
      />
      <button type="button" (click)="addDoneTask()" class="btn btn-success">
        +
      </button>
    </div>
    <div
      cdkDropList
      [cdkDropListData]="done"
      class="list done"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="box" *ngFor="let item of done; index as i" cdkDrag>
        <p contenteditable="true">{{ item }}</p>
        <button
          type="button"
          (click)="removeDoneTask(i)"
          class="btn btn-danger btn-sm"
          style="--bs-btn-padding-y: 0.25rem; --bs-btn-padding-x: 0.7rem"
        >
          x
        </button>
      </div>
    </div>
  </div>
</div>
